{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

    <h2>Starring:</h2>
	
		<ul>
		  <li><a href='https://www.imdb.com/name/nm4927704/?ref_=tt_cl_t1' 
		  title='IMDB - Xolo Maridueña'>Xolo Maridueña </a></li>
		  <li><a href='https://pl.wikipedia.org/wiki/Ralph_Macchio' 
		  title='Wikipedia - Ralph Macchio'>Ralph Macchio</a></li>
		  <li><a href='https://pl.wikipedia.org/wiki/William_Zabka' 
		  title='Wikipedia - William Zabka'>William Zabka </a></li>
		  <li><a href='https://www.imdb.com/name/nm1136435/?ref_=tt_cl_t4' 
		  title='IMDB - Courtney Henggeler'>Courtney Henggeler </a></li>
		  <li><a href='https://www.imdb.com/name/nm4120909/?ref_=tt_cl_t5' 
		  title='IMDB - Tanner Buchanan'>Tanner Buchanan</a></li>
		</ul>
		
	

{% endblock %}